html {
	background: #ffffff;
	font-family: "PingFang-SC-Medium","Microsoft YaHei", '微软雅黑', 'Arial', 'Helvetica', 'sans-serif', 'Source Han Sans CN';
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong {
    padding: 0;
    margin: 0;
    font-family: "PingFang-SC-Medium","Microsoft YaHei", '微软雅黑', 'Arial', 'Helvetica', 'sans-serif', 'Source Han Sans CN';
}
var,
i,
em,
strong {
    font-style: normal;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style: inherit;
    font-weight: inherit;
}
body {
	background: #fff;
}
li {
	list-style: none;
}
input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0px;
    border: none;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    outline: none;
}
select::-ms-expand{display:none;}
select{
  appearance:none;
 -moz-appearance:none;
 -webkit-appearance:none;
 border: none;
}
input,button,textarea,select {
    *font-size: 100%;
}
header.bar{
	color: #fff;
	background: #fb7299;
}
.bar .button-link,
.title {
	color:#fff;
}
.page, .page-group {
	background: #fff;
}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* nav */
.bar-tab .tab-item,
.bar-tab .tab-item.active, .bar-tab .tab-item:active {
	color: #212121;
}
.bar-tab .tab-item .icon~.tab-label {
	top: 0.08rem;
}
.bar-tab .tab-item .icon-sy {
	width: 1.15rem;
	height: 0.97rem;
	background: url(../images/icon-sy.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .active .icon-sy {
	background: url(../images/icon-sy-act.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .tab-item .icon-fl {
	width: 0.9rem;
	height: 0.9rem;
	background: url(../images/icon-fl.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .active .icon-fl {
	background: url(../images/icon-fl-act.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .tab-item .icon-vip {
	width: 1rem;
	height: 0.95rem;
	background: url(../images/icon-vip.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .active .icon-vip {
	background: url(../images/icon-vip-act.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .tab-item .icon-mx {
	width: 0.95rem;
	height: 0.9rem;
	background: url(../images/icon-mx.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .active .icon-mx {
	background: url(../images/icon-mx-act.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .tab-item .icon-wd {
	width: 0.95rem;
	height: 0.95rem;
	background: url(../images/icon-wd.png) no-repeat center center;
	background-size: 100%;
}
.bar-tab .active .icon-wd {
	background: url(../images/icon-wd-act.png) no-repeat center center;
	background-size: 100%;
}
/* banner滚动图 */
.swiper-container {
    width: 100%;
}

.head-slide .swiper-slide {
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.head-slide .swiper-slide-active,
.head-slide .swiper-slide-duplicate-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.head-slide .none-effect {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.head-slide .swiper-slide a {
    display: block;
    position: relative;
}
.head-slide .swiper-slide a h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0 0.65rem;
	font-size: 0.7rem;
	color: #fffefe;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.07rem;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0rem 0rem 0.4rem 0.4rem;
}
.head-slide .swiper-slide img {
    width: 100%;
    height: 8.63rem;
    border-radius: 0.4rem;
    display: block;
}



/* 首页 */
.head-slide {
	width: 100%;
	height: 9.22rem;
	padding: 0.3rem 0;
	background: #f1f1f1;
}
.ad-title {
	width: 100%;
	height: 2.75rem;
	line-height: 2.75rem;
	padding: 0 0.75rem ;
	border-bottom: 0.05rem solid #ebebeb;
}
.ad-title h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 1.23rem;
	font-size: 0.7rem;
	color: #000000;
	background: url(../images/icon-gift@3x.png) no-repeat left center;
	background-size: 0.7rem 0.7rem;
}
.ad-title span {
	font-size: 0.7rem;
	color: #a4a4a4;
}
.video-list {
	padding-bottom: 2%;
}
.video-list li {
	float: left;
	width: 48%;
	margin: 0.5rem 1% 0;
}
.video-list li a {
	display: block;
}
.video-list dt {
	position: relative;
	width: 100%;
}
.video-list dt span {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 2.63rem;
	height: 0.9rem;
	padding-left: 6%;
	line-height: 0.9rem;
	background: url(../images/icon-top-right@3x.png) no-repeat center center;
	background-size: 100%;
	color: #fffefe;
	text-align: center;
	font-size: 0.6rem;
	letter-spacing: 0.12rem;
}
.active dt span {
	display: block;
}
.video-list dt img {
	width: 100%;
	border-radius: 3px;

}
.video-list dd {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 0.97rem;
	line-height: 1rem;
	color: #212121;
	font-size: 0.6rem;
}

/* 分类 */

.subnav-list {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
	width: 100%;
	height: 4.9rem;
	
}
.subnav {
	padding: 0.72rem 1% 0;
}
.subnav li {
	float: left;
	width: 25%;
	padding: 0 2%;
	margin-bottom: 0.7rem;
}

.subnav li a {
	display: block;
	width: 100%;
	height: 1.4rem;
	line-height: 1.4rem;
	font-size: 0.6rem;
	text-align: center;
	color: #1f1f1f;
	background-color: #f4f4f4;
	border-radius: 1.38rem;
}
.subnav .subnav-active  a {
	color: #ff0049;
}

.down-btn {
	display: block;
	width: 100%;
	height: 0.78rem;
	background: url(../images/icon-down.png) no-repeat center center;
	background-size: 100%;
}
.con-title {
	width: 100%;
	margin: 1.07rem 0 0.25rem;
	text-align: center;
	font-family: PingFang-SC-Bold;
	font-size: 0.6rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.3rem;
	letter-spacing: 0.06rem;
	color: #1f1f1f;
}
.con-title span {
	padding: 0 10%;
	background: url(../images/icon3.png) no-repeat center center;
	background-size: 100%;
}
/* vip视频 */
.head-title {
	width: 100%;
	height: 2.8rem;
	line-height: 1.8rem;
	padding: 0.6rem 3% 0.4rem;
}
.head-title a {
	float: right;
	width: 18%;
	height: 1.45rem;
	line-height: 1.45rem;
	margin-top: 0.15rem;
	background: url(../images/icon1.png) no-repeat center center;
	background-size: 100%;
	color: #fffefe;
	font-size: 0.6rem;
	text-align: center;
}
.head-title span {
	display: block;
	padding-left: 12%;
	background: url(../images/head-icon2.png) no-repeat left center;
	background-size: 1.8rem 1.8rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.7rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04rem;
	color: #202020;
}
.vip-slide  {
	width: 100%;
	height: 9.22rem;
	padding: 0.3rem 0;
	background: #fff;
}

/*注册和登录*/
.head-logo {
	margin: 1.5rem auto 1.48rem;
}
.head-logo img {
	display: block;
	width: 4.5rem;
	height: 4.5rem;
	margin: 0 auto;
}
.phone-input dl {
	width: 85%;
	height: 3.4rem;
	padding: 1rem 0 1.05rem;
	line-height: 1.4rem;
	margin: 0 auto 1.48rem;
	border-bottom: 0.05rem solid #ccc;
}
.phone-input dt {
	width: 30%;
	padding: 0 1rem  0 0.42rem;
}
.phone-input select {
	font-family: PingFang-SC-Medium;
	font-size: 0.85rem;
	font-weight: normal;
	font-stretch: normal;
	color:  #2f2f2f;
	padding-right: 30%;
	background: url(../images/down-icon@3x.png) no-repeat right center;
	background-size: 12%;
}
.phone-input select option {
	text-align: center;
}
.phone-input dd {
	width: 70%;
	height: 1.4rem;
	padding-left: 10%;
}
.phone-input dd input {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 1.4rem;
	font-size: 0.8rem;
}
.button.post-code {
	display: block;
	width: 82%;
	height: 2.25rem;
	line-height: 2.25rem;
	text-align: center;
	margin: 0 auto;
	background-color: #fb7299;
	border: none;
	color: #fff;
}
.helps {
	text-align: center;
	margin-top: 1.55rem;
}
.helps a {
	font-size: 0.7rem;
	color: #808080;
}
.third-party-title {
	width: 82%;
	height: 0.57rem;
	line-height: 0;
	margin: 7rem auto 0;
	text-align: center;
	font-weight: normal;
	background: url(../images/line.png) repeat-x center center;
}
.third-party-title span {
	margin: 0 auto;
	font-size: 0.6rem;
	color: #808080;
	padding: 0 5%;
	background: #fff;
}
.third-party dl {
	width: 2.3rem;
	text-align: center;
	margin: 0 2rem;
}
.third-party dt img {
	display: block;
	width: 2.3rem;
	height: 2.3rem;
}
.third-party .no-gutter {
	margin-top: 1.18rem;
}
.third-party dd {
	font-size: 0.6rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 2.25rem;
	letter-spacing: 0.05rem;
	color: #808080;
}

.protocol {
	width: 75%;
	height: 1rem;
	line-height: 0.85rem;
	margin: 1.5rem auto 0;
}
.protocol input[type=checkbox] {
	float: left;
	width: 1rem;
	height: 1rem;
	margin-right: 2%;
	background: url(../images/check-icon@3x.png) no-repeat center center;
	background-size: 100%;
}
.protocol input[type=checkbox]:checked {
	background: url(../images/checked-icon@3x.png) no-repeat center center;
	background-size: 100%;
}
.protocol label {
	font-size: 0.8rem;
	font-weight: normal;
	font-stretch: normal;
	color: #666666;
}
.protocol  a {
	font-family: PingFang-SC-Medium;
	font-size: 0.8rem;
	font-weight: normal;
	color: #fb7299;
}
/* 输入验证码 */
.identify-code .helps {
	height: 2.5rem;
	margin-top: 0rem;
}
.identify-code .bar-tab {
	background: #fff;
}
.identify-code .bar-tab:before {
	display: none;
}
.tip-text {
	margin-top: 2.5rem;
	font-family: PingFang-SC-Medium;
	font-size: 0.75rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.65rem;
	letter-spacing: 0.08rem;
	color: #2f2f2f;
	text-align: center;
}
.tip-second {
	width: 100%;
	height: 0.68rem;
	padding: 0 12%;
	margin-top: 0.93rem;
	font-family: PingFang-SC-Medium;
	font-size: 0.7rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.65rem;
	color: #808080;
	text-align: right;
}
.code-input {
	overflow: hidden;
	width: 15.12rem;
	height: 2.27rem;
	margin: 0.65rem auto 0;
}
.code-input1 {
	display: block;
	width: 15.12rem;
	height: 2.27rem;
	margin: 0.65rem auto 0;
	background: url(../images/code-line.png) no-repeat center bottom;
	background-size: 100%;
	text-indent: 1em;
	letter-spacing: 2.1rem;
}

.code-input li {
	display: block;
	float: left;
	width: 2.27rem;
	height: 2.27rem;
	margin-right: 0.3rem;
	line-height: 2.27rem;
	text-align: center;
	color: #333;
	font-size: 1.2rem;
	text-align: center;
	border-bottom: 0.05rem solid #e6e6e6; 
}
.code-input li:last-child {
	margin-right: 0;
}

/* 开通VIP */
.head-content {
	width: 100%;
	height: 7rem;
	padding: 2.75rem 4% 1rem;
	background: url(../images/head-bg@3x.png) no-repeat center center;
	background-size: 100%;
}
.head-left {
	width: 3.2rem;
	margin-right: 0.8rem;
}
.head-portrait {
	position: relative;
	width: 100%;
}

.head-portrait img {
	width: 100%;
}
.head-center h2 {
	font-size: 0.75rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.3rem;
	color: #202020;
	margin-top: 0.2rem;
}
.head-center h3 {
	font-size: 0.7rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.3rem;
	color: #262626;
}
.head-right  .button {
	width: 3.25rem;
	height: 1.45rem;
	line-height: 1.45rem;
	margin-top: 0.7rem;
	padding: 0;
	color: #fff;
	border: none;
	background-color: #ffc002;
	border-radius: 1.45rem;
}
.titles {
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0 3%;
	margin: 0.47rem auto 0.63rem;
	font-size: 0.7rem;
	font-weight: normal;
	color: #202020;
}
.openvip-con {
	background: #f4f4f4 ;
}
.pay-list {
	width: 100%;
	padding: 0 1%;
}
.pay-list li {
	list-style: none;
	float: left;
	width: 33.33%;
	padding: 0 1%;
}
.pay-list li span {
	display: block;
	width: 100%;
	height: 3.25rem;
	line-height: 3.25rem;
	text-align: center;
	background-color: #ffffff;
	border-radius: 0.4rem;
	border: solid 0.05rem #e7e7e7;
	color: #202020;
	font-size: 0.8rem;
	font-weight: normal;
	font-stretch: normal;
}
.pay-list .active span {
	border: solid 0.05rem #fb7299;
	color: #fb7299;
}
.button.payment {
	width: 94%;
	margin-top: 6rem;
	font-size: 0.8rem;
}
.user-protocol {
 	text-decoration: underline;
 }

 /* 支付页面 */
.pay header.bar {
	background: #fff;
	color: #202020;
	box-shadow: 0rem 0.05rem 0.2rem 0rem 
		rgba(0, 0, 0, 0.3);
}
.pay .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	left: 12%;
	width: 85%;
}
.pay .button-link, .pay .title {
	color: #202020;
}
.pay-text {
	overflow: hidden;
	width: 100%;
	height: 5.5rem;
	text-align: center;
	background-color: #f5f5f5;
}
.pay-text h2,
.pay-text h3 {
	text-align: center;
}
.pay-text h2 {
	padding-top: 0.88rem;
	font-size: 0.6rem;
	font-weight: normal;
	font-stretch: normal;
	font-family: PingFang-SC-Bold;
	line-height: 0.65rem;
	letter-spacing: 0.03rem;
	color: #202020; 
}
.pay-text h3  {
	padding: 0.45rem 0 0.6rem;
	font-family: PingFang-SC-Bold;
	font-size: 0.6rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.65rem;
	letter-spacing: 0.03rem;
	color: #555555;
}
.pay-text strong {
	display: inline-block;
	height: 1.35rem;
	line-height: 1.3rem;
	font-family: PingFang-SC-Bold;
	font-size: 1.8rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #202020;
}
.pay-style {
	width: 88%;
	margin: 0.2rem auto 0;
}
.pay-style li {
	width: 100%;
	height: 2.42rem;
	line-height: 2.42rem;
	border-bottom: 0.05rem solid #ccc;
}
.pay-style li a {
	display: block;
	font-size: 0.75rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.04rem;
	color: #202020;
}
.qq-pay span {
	width: 0.95rem;
	height: 1.2rem;
	margin: 0.6rem 0.68rem 0 0;
	background: url(../images/QQpay@3x.png) no-repeat center center;
	background-size: 100%;
}
.wx-pay span {
	width: 0.97rem;
	height: 0.9rem;
	margin: 0.7rem 0.63rem 0 0;
	background: url(../images/wxpay@3x.png) no-repeat center center;
	background-size: 100%;
}
/* 我的 */
.sign-btn .head-center h2 {
	margin-top: 0.5rem;
	text-indent: 0.5em;
}
.sign-btn .head-center a {
	width: 4.65rem;
	height: 1.5rem;
	line-height: 1.5rem;
	background: #fb7299;
	border: none;
	color: #fff;
}
.signs .head-center a {
	width: 4.65rem;
	height: 1.3rem;
	line-height: 1.3rem;
	background: #ffc002;
	border: none;
	color: #fff;
	font-size: 0.6rem;
}

.head-portrait img {
	width: 100%;
	height: 3.2rem;
	border-radius: 50%;
}
.head-portrait span  {
	position: absolute;
    right: 0.2rem;
    bottom: 0.3rem;
    z-index: 2;
    width: 0.9rem;
    height: 0.9rem;
}
.wx .head-portrait span {
	background: url(../images/wx1@3x.png) no-repeat center center;
	background-size: 100%;
}
.QQ .head-portrait span {
	background: url(../images/QQ1@3x.png) no-repeat center center;
	background-size: 100%;
}
.vips .head-center h2 {
	text-indent: 0;
}
.vips .head-center h3 {
	padding: 0.1rem 0 0 0;
}
.vips .head-center span {
	display: inline-block;
	width: 1.15rem;
	height: 1rem;
	background: url(../images/VIP@3x.png) no-repeat center center;
	background-size: 90%;
}
.ad {
	margin: 2.3rem auto;
}
.ad a {
	display: block;
	width: 100%;
	padding: 0 3%;
}
.ad img {
	display: block;
	width: 100%;
	border-radius: 0.1rem;
}
/* 视频详情 */
.head-video {
	position: relative;
}
.video-tip {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0,0,0,0.7);
}
.video-tip h2,
.video-tip h3 {
	display: none;
	width: 100%;
	height: 1.3rem;
	line-height: 1.3rem;
	padding: 0 3%;
	margin-top: 1.2rem;
	color: #fff;
	font-size: 0.6rem;
	text-align: center;
}
.open-vertical-modal {
	display: inline-block;
	width: 19%;
	height: 1.3rem;
	line-height: 1.3rem;
	text-align: center;
	font-family: PingFang-SC-Medium;
	font-size: 0.6rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.05rem;
	color: #ffffff;
	background: #ff4545;
	border-radius: 0.61rem;
}

.video-tip button {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 1.95rem;
	height: 2.3rem;
	margin: -1.15rem 0 0 -0.97rem;
}
.times {
	display: none;
	position: absolute;
	top: 70%;
	left: 0%;
	z-index: 2;
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.7rem;
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-stretch: normal;
}
.check-btn {
	display: none;
	position: absolute;
	top: 50%;
	left: 0%;
	z-index: 2;
	width: 100%;
	height: 2rem;
	margin: -1rem 0 0;
	padding: 0 8%;
}
.check-btn li {
	float: left;
	width: 45%;
	height: 2rem;
	line-height: 2rem;
	margin-left: 4%;
	text-align: center;
	border-radius: 0.2rem;
	font-size: 0.75rem;
	color: #fff;
	letter-spacing: 0.06rem;
	background: #808080;
}
.check-btn li em {
	padding-left: 1.2rem;
	background: url(../images/replay.png) no-repeat left center;
	background-size: 1rem 0.9rem;
}
.check-btn li a {
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	border-radius: 0.2rem;
	font-size: 0.75rem;
	color: #fff;
	background: #fb7299;
	letter-spacing: 0.06rem;
}
.sk {
	display: none;
	position: absolute;
	top: 70%;
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	text-align: center;
	font-family: PingFang-SC-Regular;
	font-size: 0.7rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.06rem;
	color: #ffffff;
}
.sk i {
	font-family: PingFang-SC-Regular;
	text-decoration: underline;
	color: #ffc002;
}
.video-tip .play-btn {
	display: block;
	background: url(../images/play-btn.png) no-repeat center center;
	background-size: 85%;
}
.video-tip .replay-btn {
	
	background: url(../images/replay-btn.png) no-repeat center center;
	background-size: 100%;
}
.video-tip .pause-btn {
	display: none;
	background: url(../images/pause-btn.png) no-repeat center center;
	background-size: 85%;
}
.video-tip .next-btn {
	left: 75%;
	background: url(../images/next-btn.png) no-repeat center center;
	background-size: 85%;
}

.video-js {
	width: 100%;
	height: 10.55rem;
}
.video-title {
	width: 100%;
	padding: 0 4%;
}
.video-title h3 {
	margin: 0.88rem 0 0.55rem;
	font-family: PingFang-SC-Bold;
	font-size: 0.8rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.1rem;
	letter-spacing: 0rem;
	color: #202020;
}
.video-title ul {
	width: 100%;
}
.video-title li {
	float: left;
	font-family: AdobeHeitiStd-Regular;
	font-size: 0.6rem;
	font-weight: normal;
	font-stretch: normal;
	color: #131313;
}
.video-title .vip-color {
	color: #edbb16;
}
.details .titles {
	border-top: 0.05rem solid #ccc;
	height: 2rem;
	line-height: 1.5rem;
	padding: 0.5rem 3% 0;
}
.pic-list {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	width: 100%;
	padding: 3%;
}
.pic-list ul {
	font-size: 0;
    display: table;
    width: 100%;
    white-space: nowrap;
}
.pic-list li {
	display: inline-block;
	width: 44%;
	height: 4.65rem;
	margin-right: 1%;
}
.pic-list li img {
	width: 100%;
	height: 100%;
	border-radius: 0.25rem;
}
.details .payment {
	margin-top: 0;
	font-family: PingFang-SC-Regular;
	font-size: 0.7rem;
}
.comment ul {
	padding-top: 1rem;
	padding-left: 3%;
}
.comment li {
	margin-bottom: 0.75rem;
}
.comment dt {
	float: left;
	width: 11%;
}
.comment dt img {
	display: block;
	width: 100%;
	height: 2rem;
}
.comment dd {
	float: left;
	width: 86%;
	padding: 0.25rem 3% 0.7rem 0;
	margin-left: 3%;
	border-bottom: 0.05rem solid #ccc;
}
.comment dd h3 {
	font-family: PingFang-SC-Regular;
	font-size: 0.75rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #202020;
	margin-bottom: 0.55rem;
}
.comment-con{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	height: 0.72rem;
	line-height: 0.72rem;
	font-size: 0.7rem;
	color: #4c4c4c;
}
.comment dd div {
	width: 100%;
	height: 0.57rem;
	line-height: 0.57rem;
	font-size: 0.6rem;
	color:  #4c4c4c;
	margin-top: 0.78rem;
}
.comment dd span {
	display: inline-block;
	float: right;
	width: 5%;
	height: 0.57rem;
	background: url(../images/icon-more@3x.png) no-repeat center center;
	background-size: 100%;
}
.comment dd em {
	margin-left: 4%;
}

.nocomment {
	padding-bottom: 1rem;
}
.nocomment ul {
	display: none;
}
.nocomment-con {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 0.7rem;
    color: #4c4c4c;
}
.nocomment-con span {
	display: block;
	width: 3.8rem;
	height: 5.47rem;
	background: url(../images/nocomment@3x.png) no-repeat center center;
	background-size: 100%;
	margin: 1.88rem auto 1.38rem;
}
.nocomment .nocomment-con  {
	display: block;
} 
.modal {
	width: 14.5rem;
}
.modal-title {
	font-family: PingFang-SC-Bold;
	font-size: 0.9rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.3rem;
	letter-spacing: 0rem;
	color: #202020;
}
.modal-title+.modal-text {
	font-family: PingFang-SC-Medium;
	font-size: 0.75rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.1rem;
	letter-spacing: 0.02rem;
	color: #202020;
	text-align: left;
}
.modal-text span {
	color: #505050;
}
.modal-inner {
	background: #fff;
}
.modal-button {
	height: 2.35rem;
	line-height: 2.35rem;
	color: #202020;
	font-size: 0.8rem;
	background: #fff;
}
.modal-buttons span:first-child {
	color: #ffc002;
}
/* 我的账号 */
.account-pic {
	position: relative;
	width: 23%;
	height: 4.33rem;
	margin: 2.45rem auto 1.27rem;
}
.account-pic img {
	width: 100%;
	height: 4.33rem;
	border: 1px solid #9e9d96;
	border-radius: 50%;
}
.account-pic span {
	position: absolute;
	right: 0rem;
	bottom: 0rem;
	z-index: 2;
	width: 1.2rem;
	height: 1.2rem;
}
.my-account h2 {
	width: 100%;
	height: 0.72rem;
	margin-bottom: 1.45rem ;
	text-align: center;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.72rem;
	color: #202020;
	font-size: 0.75rem;
}
.my-account h2 span {
	display: inline-block;
	padding-left: 5%;
	background: url(../images/VIP@3x.png) no-repeat left center;
	background-size: 0.65rem 0.65rem;
}
.signout {
	display: block;
	width: 51%;
	height: 2.25rem;
	margin: 0 auto;
	line-height: 2.25rem;
	text-align: center;
	color: #fff;
	background: #fb7299;
	border: none;
	font-size: 0.9rem;
}
.wx .account-pic span {
	background: url(../images/wx1@3x.png) no-repeat center center;
	background-size: 100%;
}
.QQ .account-pic span {
	background: url(../images/QQ1@3x.png) no-repeat center center;
	background-size: 100%;
}
.wx .signout span {
	padding-left: 20%;
	background: url(../images/wx1.png) no-repeat left center;
	background-size: 1.3rem 1.05rem;
}
.QQ .signout span {
	padding-left: 20%;
	background: url(../images/QQ1.png) no-repeat left center;
	background-size: 1rem 1.15rem;
}
