@charset 'utf-8';
/* CSS reset */
html{color:#000;background:#f0f0f0;font-family:'Microsoft YaHei';font-size: 12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:'Microsoft YaHei';}
table{}
fieldset,img{border:0;}
a{text-decoration:none; color:#009; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
a {-webkit-tap-highlight-color:rgba(0,0,0,0);}


	.main {
		width: 100%;
	}
	.main-nav {
		position: fixed;
		top: 0px;
		left: 0px;
		display: -webkit-box;
	    display: -webkit-flex;
	    display: box;
	    display: flex;
	    width: 100%;
	    background: #fff;
	}
	.main-nav li {
		-webkit-box-flex: 1;      
	    -webkit-flex: 1;         
	    -ms-flex: 1;              
	    flex: 1; 
	    width: 100%;
	    height: 3.33rem;
	    line-height: 3.33rem;
	    text-align: center;
	    
	}
	.main-nav li a {
		color: #333;
		font-size: 1.3rem;
	}
	.main-nav .act a {
		color: #fc555a;
	}
	.main-cell {
		width: 100%;
		margin-top: 3.33rem;
	}
	.video-li {
		width: 100%;
		height: 15rem;
	}
	.down {
		width: 100%;
		height: 3.96rem;
		line-height: 3.96rem;
		background: #fff;
	}
	.down span {
		float: right;
		margin-right: 1rem;
	}

